@import 'reset-and-normalize';
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600&display=swap');

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Work Sans', sans-serif;
}
