.layout {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.main {
    flex-grow: 1;
}
.header, .main, .navbar, .footer {
    flex-shrink: 0;
}
.titulo {

}
