.icono {
    height: 50px;
    width: 50px;
    margin-right: 24px;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fila {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}
.medio-contacto {
    display: flex;
    margin-right: 18px;
}
.texto {
    font-weight: 600;
    margin-bottom: 2px;
}
