.icon {
    height: 50px;
    width: 50px;
    margin-right: 24px;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 32px;
    &:first-child {
        padding-bottom: 32px;
        border-bottom: 1px solid black;
    }
}
.contact-medium {
    display: flex;
    margin-right: 18px;
}
.text {
    font-weight: 600;
    margin-bottom: 8px;
}
