<footer local-class="footer">
    <ul local-class="row">
        <li local-class="contact-medium">
            <img local-class="icon" src="/icons/whatsapp.svg" alt="Whatsapp">
            <div>
                <div local-class="text">Enviar whatsapp</div>
                <span>+549 3516078485</span>
            </div>
        </li>
        <li local-class="contact-medium">
            <img local-class="icon"src="/icons/phone.svg" alt="Llamada">
            <div>
                <div local-class="text">Contactanos</div>
                <span>156078485</span>
            </div>
        </li>
        <li local-class="contact-medium">
            <img local-class="icon" src="/icons/location.svg" alt="Ubicación">
            <div>
                <div local-class="text">Dirección</div>
                <span>270 Planta baja, Nva Cba</span>
            </div>    
        </li>
        <li local-class="contact-medium">
            <img local-class="icon" src="/icons/mail.svg" alt="Mail">
            <div>
                <div local-class="text">Email</div>
                <span>natiiiilongo@hotmail.com</span>
            </div>
        </li>
    </ul>
    <ul local-class="row">
        <li local-class="contact-medium">
            <img local-class="icon" src="/icons/instagram.svg" alt="Instagram">
            <img local-class="icon" src="/icons/facebook.svg" alt="Facebook">
            <div>
                <span local-class="text"n>Seguinos!</span>
            </div>
        </li>
    </ul>
</footer>