<footer local-class="footer">
    <ul local-class="fila">
        <li local-class="medio-contacto">
            <img local-class="icono" src="/icons/whatsapp.svg" alt="Whatsapp">
            <div local-class="texto">
                <div>Enviar whatsapp</div>
                <span>+549 3516078485</span>
            </div>
        </li>
        <li local-class="medio-contacto">
            <img local-class="icono"src="/icons/phone.svg" alt="Llamada">
            <div local-class="texto">
                <div>Contactanos</div>
                <span>156078485</span>
            </div>
        </li>
        <li local-class="medio-contacto">
            <img local-class="icono" src="/icons/location.svg" alt="Ubicación">
            <div local-class="texto">
                <div>Dirección</div>
                <span>270 Planta baja, Nva Cba</span>
            </div>    
        </li>
        <li local-class="medio-contacto">
            <img local-class="icono" src="/icons/mail.svg" alt="Mail">
            <div local-class="texto">
                <div>Email</div>
                <span>natiiiilongo@hotmail.com</span>
            </div>
        </li>
    </ul>
    <ul local-class="fila">
        <li local-class="medio-contacto">
            <img local-class="icono" src="/icons/instagram.svg" alt="Instagram">
            <img local-class="icono" src="/icons/facebook.svg" alt="Facebook">
            <div local-class="texto">
                <span>Seguinos!</span>
            </div>
        </li>
    </ul>
</footer>