<nav local-class="nav">
    <ul local-class="lista">
        <li><LinkTo @route="index">Índice</LinkTo></li>
        <li><LinkTo @route="nosotros">Nosotros</LinkTo></li>
        <li><LinkTo @route="servicios">Servicios</LinkTo></li>
        <li><LinkTo @route="ubicacion">Ubicación</LinkTo></li>
        <li><LinkTo @route="fotos">Fotos</LinkTo></li>
        <li><LinkTo @route="tarifas">Tarifas</LinkTo></li>
        <li><LinkTo @route="contacto">Contacto</LinkTo></li>
    </ul>
</nav>