<nav local-class="nav">
    <ul local-class="lista">
        <li><LinkTo @route="index">Índice</LinkTo></li>
        <li><LinkTo @route="servicios">Servicios</LinkTo></li>
        <li><LinkTo @route="fotos">Fotos</LinkTo></li>
        <li><LinkTo @route="contacto">Contacto</LinkTo></li>
    </ul>
</nav>