<div local-class="layout">
    <Navbar local-class="navbar" />

    <header local-class="header">
        <h1 local-class="titulo">Residencia Universitaria Femenina</h1>
    </header>

    <main local-class="main">
        {{outlet}}
    </main>

    <Footer local-class="footer" />
</div>
